{% extends "header.html" %}
{% block body %}
<br>
<h2 align="center" style="color:green" class="alert alert-success" ><strong>RESONANCE-2k19</strong></h2>
<br>
<h3 style="margin-left:30px;color:brown"><strong>About</strong></h3>
<p style="margin-left:30px;margin-right: 30px"><strong>Resonance</strong> is the annual technical festival of <strong>BVC Engineering College</strong>. Started off in 1997 as a stand-alone festival, Resonance has since then grown <br>exponentially. With the aim of increasing technical awareness amongst students, it has successfully attracted thousands of students from various educational <br>backgrounds and an even greater crowd from technical and engineering institutes all across AndhraPradesh. With roping in prominent personalities and high profile organizations along with managing various technical events  throughout the fest, Resonance has been victorious in incorporating its core ideology of <br>the spread of technical education and awareness.</p>
 <br><br>   
<p style="margin-left:30px;margin-right: 30px">The college campus is always brimming with excitement and enthusiasm for the countless events that take place during the two-day long festival. With technical councils such as Paper Presentation,Poster Presentation etc organizing innovative events that make you scratch your brains and ponder over the intricacies and beauty of science and it is because of this cumulative effort by the students that Resonance has reached the stage where it currently is.</p>
<br>
<br>
<h4 align="center" class="alert alert-dark" style="color:blue" ><strong>Events</strong></h4>
<br>
<br>
<ul>
        <li>Paper Presentation</li>
        
        <li>Poster Presentation</li>
        <li>Innovative thoughts</li>
        <button type="button" class="btn "><a href="/register/" style="color:chocolate">Register here</a></button>

</ul>
{% endblock %}
