{% extends "header.html" %}
{% block body %}

<br>
<h2 align='center'style="font-family:Comic Sans MS;color:brown;border-style:dotted;border-color:blue;border-width: 5px "><strong>RESONANCE-2k19</strong></h2>
<br>
<table border="4" cellpadding="7" cellspacing="7"style="margin-left:100px">
    <tr>
        <th>Co-Convener</th>
        <th>Branch</th>
        <th>Contact Details</th>

    </tr>
    <tr>
        <td>Dr. N Krishnaiah<br>Dr. P Devabalan<br>Dr.C Jehan<br>Prof K Srinivas</td>
        <td>CSE</td>
        <td>resonance2k19.cse@bvcgroup.in</td>
    </tr>
    <tr>
            <td>Dr. B Muthuvel<br>Mr. K Ramcharan<br>Mr.K Ramakrishna</td>
            <td>EEE</td>
            <td>resonance2k19.eee@bvcgroup.in</td>
        </tr>
        <tr>
                <td> Prof.Valluri Dhana Raj<br> Prof.K. Raja Sekhar</td>
                <td>ECE</td>
                <td>resonance2k19.ece@bvcgroup.in</td>
            </tr>
            <tr>
                    <td>Dr. B Kameswari<br>Mr. Ch Sivanarayana</td>
                    <td>Civil</td>
                    <td>resonance2k19.civil@bvcgroup.in</td>
                </tr>
                <tr>
                        <td>Dr. T Venkateswara Rao<br>Dr. Y Sujtha<br>Dr. S Vijay Kumar<br>Dr. D Santha Rao<br>A Ramakrishna</td>
                        <td>Mechanical</td>
                        <td>resonance2k19.mech@bvcgroup.in</td>
                    </tr>
</table>
<br>
<h2 align='center'style="font-family:Comic Sans MS;color:brown;border-style:dotted;border-color:blue;border-width: 5px "><strong>KREEDA-2k19</strong></h2>
<br>
<table border="4" cellpadding="7" cellspacing="7"style="margin-left:200px">
    <tr>
        <th>Branch</th>
        <th>Name Of the Faculty</th>
        <th>Mobile No.</th>
        
    </tr>
    <tr>
        <td>CSE</td>
        <td>Mr A S Mallesh</td>
        <td>9493338007</td>
    </tr>
    <tr>
            <td>ME</td>
            <td>Mr.N Vasudeva Rao</td>
            <td>9848489309</td>
        </tr>
        <tr>
                <td>ECE</td>
                <td>Mr. T Saran Kumar</td>
                <td>9505666395</td>
            </tr>
            <tr>
                    <td>EEE</td>
                    <td>Mr. K Ram Charan</td>
                    <td>8885544404</td>
                </tr>
                <tr>
                        <td>CE</td>
                        <td>Mr. G V R Narendra Kumar</td>
                        <td>7207796693</td>
                    </tr>
   <!--- <tr>
        <td>CRICKET</td>
        <td>P B V Raja Rao</td>
        <td>N Phani KUmar</td>
        <td>N S Nagendra</td>
        <td>E Bujji Babu</td>
        <td>D Narendra Babu</td>
    </tr>
    <tr>
        <td>VOLLEY BALL</td>
        <td>A D Prasad</td>
        <td>V Anuragh</td>
        <td>B Vasulu</td>
        <td>L D Kishore</td>
        <td>J T Manikanta</td>
    </tr>
    <tr>
        <td>KABADDI</td>
        <td>K Eswar</td>
        <td>I R S Nageswata Rao</td>
        <td>E Raju</td>
        <td>S M S Prudvi</td>
        <td>B Srikanth</td>
    </tr>
    <tr>
        <td>FOOT BALL</td>
        <td>V Narsimhan</td>
        <td>K CH Nagaraju</td>
        <td>D Subba Rao</td>
        <td></td>
        <td></td>
    </tr>-->
</table>
{% endblock %}
