{% extends "header.html"%}
{% block body %}

	
	<br>
	
    <br>
<br>

{%if session.logged_in%}
<h3>Total Number Of Students Registered {{l}}</h3>

<br>
<form action="{{url_for('download')}}" method="GET">
<table border="5" cellpadding="20" cellspacing="10">
        
        {% for row in data %}
        
            <tr>
            {% for d in row %}
              <td>{{ d  }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            {% endfor %}
            
            
            </tr>
        {% endfor %}
    </table >
    <br>
    <button style="margin-left:400px">Download</button>
</form>
{%else%}
<img style="max-width:900px;max-height: 300px;margin-left: 150px"  src="{{ url_for('static', filename='bvc1.jpg') }}">
<br>
<br>
<p><strong>Bonam Venkata Chalamayya Engineering College (BVCEC)</strong>, Odalarevu was established in the year 1997 under B V C Educational Society with a vision to provide quality technical education to the rural youth. It is the first private engineering college in East Godavari District of Andhra Pradesh, India. 
    The Institution is offering five U.G. Programs in the disciplines of Civil Engineering, Mechanical Engineering, Electrical & Electronics Engineering, Electronics & Communication Engineering, Computer Science and Engineering and eight P.G. Programs with specializations like Embedded Systems, ECE, Computer Science, Thermal Engineering and Power Electronics, Structural Engineering, Soil Mechanics and Foundation Engineering. All the eligible U.G. Courses are accredited by NBA of AICTE, New Delhi for three years and the college is permanently affiliated to Jawaharlal Nehru Technological University, Kakinada , UGC recognized Autonomous and NAAC.  </p>
    <br>
    <h4><strong>Institution Vision Mission</strong> </h4>
    <br>
    <h5><strong>Vision</strong></h5> 

    <p>To become a leading technical institute of academic excellence by imparting high patterns of discipline through innovative programmes of global standards making our students technologically superior and ethically strong to serve the nation.</p>
<br>
    <h5><strong>Mission </strong></h5>
<p>To create an environment that shall foster the growth of intellectually capable, innovative professionals who can contribute to the to the growth of technology in partnership with industry and develop and harness it for the welfare of the nation and mankind.</p> 
<br>  
{%endif%}  
{% endblock %}