{% extends "header.html" %}
{% block body %}


<br>
<br>
<h2 align='center'style="font-family:Comic Sans MS;color:brown;border-style:dotted;border-color:blue;border-width: 5px "><strong>KREEDA-2k19</strong></h2>
<br>
<br>
<p style="font-family:Arial;margin-left:30px;margin-right: 30px;">Kreeda 2k19 is the annual national level Sports fest of B V C Engineering College and is definitely one of the best. It is a 2-day festival held in March. Teams from all over Andhra Pradesh make it a point to participate in the events of Kreeda. The huge campus of B V C Engineering College has made the fest a huge hit.</p>
<br>
<br>
<br>
<h3 align="center"style="color:blue;font-family:Comic Sans MS;border-style:dotted;border-color:brown;border-width: 5px" ><strong>Events</strong></h3>
<br>
<ul style="font-family:Comic Sans MS">
    <li>Cricket  (Men)</li>
    <li>Volley Ball  (Men)</li>
    <li>Kabaddi  (Men)</li>
    <li>Foot Ball  (Men)</li>
    <li>Shuttle  (Men & Women) </li>
    <li>Table Tennis  (Men & Women</li>
    <li>Throw Ball  (Women)</li>
</ul>
<br>
<h6>Please contact respective co-ordinators for more details.<a href="/contact">click here </a>to get details of co-ordinators</h6>
{% endblock %}