{% extends "header.html" %}
{% block body %}
<br>
<br>
<h2 align="center" style="color:green" class="alert alert-success" ><strong>YUVAGALA-2k19</strong></h2>
<br>
<h3 style="margin-left:30px;color:brown"><strong>About</strong></h3>
<p style="margin-left:30px;margin-right: 30px">Yuvagala youth fest is the unique fest being conducted  in BVC engineering college ever since .It is being conducted to show case the talents of the youth in a platform where the students from national wide can interact and meet . The fest has a system to encourage thousands of students in various  Engineering students to ensure their own strength in both technical and non technical side . Perfect time management, Judgment, on the spot arrangements will be always a matter of concern in revealing the participants real talents .Young Indians chapter makes all these possible by ensuring their support .The talents are awarded with the cash prizes .Yuvagala youth fest will be of two days where you can see the unexpected moments to make sure your unforgettable moments over here.
</p>
<h3 align="center" class="alert alert-dark" style="color:blue" ><strong>Events</strong></h3>
<br>
<br>
<ul>
        <li>Singing</li>
        
        <li>Dancing</li>
        <li>Drama</li>
        <br>
        <br>
        <button type="button"  class="btn btn-primary"  style="margin-left:500px"><a href="/yuvregister/" style="color:cornsilk">Register here</a></button>

</ul>
{% endblock %}